body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: linear-gradient(90deg, #0056b3, #0073e6);

}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header  */
.header {
    background: linear-gradient(90deg, #0056b3, #0073e6);
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo img {
    max-height: 110px;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 100px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #ffd700;
}

/* Burger Menu */
.burger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger-menu span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 2px;
}

/* Contact Info */
.contact-info {
    text-align: right;
}

.contact-info p {
    margin: 0;
    font-size: 14px;
}

.contact-info a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

/* Responsive */

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 15px;
        background: #005bea;
        position: absolute;
        top: 100%;
        right: 0;
        padding: 10px;
        border-radius: 5px;
        width: 200px;
    }

    .nav-links.active {
        display: flex;
    }

    .burger-menu {
        display: flex;
    }

    .contact-info {
        display: none;
    }
}